body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6d3d3;
}

header,
footer {
    background-color: #222121;
    color: white;
    text-align: center;
    padding: 1px 0; /* Reduz o padding do rodapé */
    font-size: 0.8rem; /* Diminui o tamanho da fonte */
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
}

/* Navegação */
nav {
    background-color: #343232;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 1px;
}

nav a {
    margin: 0 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1abc9c;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.main-content {
    flex: 2;
    margin-right: 20px;
}

.sidebar {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas de largura igual */
    gap: 10px;
    /* Espaço entre as imagens */
}

.sidebar img {
    width: 100%;
    height: auto;
}

.collaborators {
    margin-bottom: 20px;
    margin-left: 20px;
}

.collaborator-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    /* Espaço entre as logos */
    justify-content: center;
}

.collaborator-logos img {
    max-width: 130px;
    height: auto;
}

footer img {
    vertical-align: middle;
    margin-right: 5px;
}